@import "../../styles/mixins";
@import "../../styles/layout";

.myRoute:hover {
  .shadow();
}
.myRoute {
  width: 100%;
  overflow: hidden;
  border: 1px solid @base;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  &__image {
    .column(4,4,12,12);
    .img_wrapper(100%);
    .media_mobile({
      height: 100%;
      min-height: 250px;
    });
    .like {
      position: absolute;
      right: 20px;
      top: 20px;
      width: 50px;
      height: 50px;
      background-image: url("/src/assets/images/icons/heart.svg");
      background-repeat: no-repeat;
      background-size: 50px 50px;
      cursor: pointer;
      &.active {
        background-image: url("/src/assets/images/icons/heart_selected.svg");
      }
    }
  }
  &__body {
    .column(8,8,12,12);
    padding-left: 24px;
    padding-right: 15px;
    padding-bottom: 20px;
    .media_mobile({
      padding-left: 14px;

    });
    .title {
      margin-top: 27px;
      .boxTitle();
    }
    .text {
      margin-top: 15px;
      .text();
    }

    .myRoute__params {
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;

      .way {
        margin-top: 20px;
        padding-left: 30px;
        position: relative;
        .text();
        .column(4, 4, 4, 4);
      }

      .myRoute__hour {
        position: relative;
        margin-top: 20px;
        padding-left: 30px;
        .text();
        .column(4, 4, 4, 4);
      }

      .myRoute__movement {
        .column(4, 4, 4, 4);

        .item {
          position: relative;
          margin-top: 20px;
          padding-left: 30px;

          span {
            .text();
            margin-top: 0px;
          }

          &__icon {
            &.people {

            }

            &.car {

            }
          }
        }
      }
    }
    .points {
        position: relative;
        margin-top: 20px;
        .column(2,2,3,12);
        &:before {
          content: "";
          position: absolute;
          width: 20px;
          height: 80px;
          left: 0px;
          top: -3px;
          background: url("/src/assets/images/icons/way.svg");
          background-size: 100%;
          background-repeat: no-repeat;
        }
        padding-left: 30px;
        .label {
          .text();
          margin-top: 0px;
        }
        .point-value {
          .text();
          font-weight: bold;
          margin-top: 0px;
          margin-bottom: 20px;
        }
      }
    .myRoute__objects {
        .column(9,9,9,12);
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        .title__sub {
          .text();
          width: 100%;
          margin-top: 0px;
          margin-bottom: 20px;
        }
        .item {
          position: relative;
          .column(6,6,6,6);
          .text();
          margin-top: 0px;
          font-weight: bold;
          margin-bottom: 20px;
          padding-left: 30px;
        }
      }

      .myRoute__buttons {
        .column();

        margin-top: 20px;
        .button {
          .media_tablet({
            margin-bottom: 20px;
          });
          .media_mobile({
            margin-bottom: 20px;
          });
          .column(5,5,12,12);
        }
        .button_space {
          width: 20px;
          float: left;
          height: 20px;
          .hide_mobile();
        }
      }
    }
  }

