@import "../../styles/mixins";
@import "../../styles/layout";

.myRoute {
  width: 100%;
  overflow: hidden;
  border: 1px solid @base;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  &:hover {
    .box-shadow(9px, 0px, 37px, -15px, rgba(82,98,159,1));
  }
  &__image {
    .column(4,4,12,12);
    .img_wrapper(100%);
    .media_device({
      min-height: 250px;
    });
    .like {
      position: absolute;
      right: 20px;
      top: 20px;
      width: 50px;
      height: 50px;
      background-image: url("/assets/images/icons/heart_selected.svg");
      background-repeat: no-repeat;
      background-size: 50px 50px;
      cursor: pointer;
      &.active {
        background-image: url("/assets/images/icons/heart_selected.svg");
      }
    }
  }
  &__body {
    .column(8,8,12,12);
    padding: 34px 38px 18px;
    display: flex;
    flex-wrap: wrap;
    .media_mobile({
      padding: 20px;

    });
    .title {
      width: 100%;
      .boxTitle();
    }
    .text {
      margin-top: 15px;
      .text();
      width: 100%;
    }


    .myRoute__params {
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
      width: 100%;
      .icon {
        position: absolute;
        top: -5px;
        left: 0;
        display: block;
        .bg();
      }
      .way {
        margin-top: 20px;
        padding-left: 30px;
        position: relative;
        .text();
        .column(4, 4, 4, 6);
        .icon {
          background-color: @base;
        }
      }

      .hour {
        position: relative;
        margin-top: 20px;
        padding-left: 30px;
        .text();
        .column(4, 4, 4, 6);
        .icon {
          background-color: @base;
        }
      }

      .myRoute__movement {
        .column(4, 4, 4, 6);

        .item {
          position: relative;
          margin-top: 20px;
          padding-left: 30px;

          span {
            .text();
            margin-top: 0;
          }

          .icon {
            background-color: @base;
          }

          .icon {
            background-color: @base;
          }
        }
      }
    }
    .points {
      position: relative;
      margin-top: 20px;
      .column(4,4,12,12);
      padding-left: 30px;
      &:before {
        content: "";
        position: absolute;
        width: 10px;
        height: calc(100% - 70px);
        border-left: 2px dotted @base;
        left: 9px;
        top: 13px;
      }
      .label {
        position: relative;
        .text();
        margin-top: 0;
        &:before {
          content: "";
          position: absolute;
          width: 10px;
          height: 10px;
          left: -25px;
          top: 0;
          background-color: @base;
          border-radius: 50%;
        }
        &--end:before {
          background-color: @orange;
        }
      }
      .point-value {
        .text();
        font-weight: bold;
        margin-top: 0px;
        margin-bottom: 20px;
      }
    }
    .myRoute__objects {
      .column(8,8,12,12);
      position: relative;
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
      .icon {
        position: absolute;
        top: -5px;
        left: 0;
        display: block;
        .bg();
      }
      .title__sub {
        .text();
        width: 100%;
        margin-top: 0;
        margin-bottom: 20px;
      }
      .item {
        position: relative;
        .column(6,6,6,6);
        .text();
        margin-top: 0px;
        font-weight: bold;
        margin-bottom: 20px;
        padding-left: 30px;
        .icon--object {
          background-color: @base;
        }
      }
    }

    .myRoute__buttons {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      .button:first-child {
        margin-right: 20px;
        .media_mobile({
          margin-right: 0;
        })
      }
      margin-top: 20px;
    }
  }
}

