@import "../../styles/mixins";

.route {
  width: 100%;
  overflow: hidden;
  border: 1px solid @base;

  &__image {
    img {

    }
    .like {
      &.active {

      }
    }
  }
  &__body {
    .title {

    }
    .points {
      .label {

      }
      .point-value {

      }
    }
    .route__params {
      .way {

      }
      .route__hour {

      }
      .route__movement {
        .item {
          &__icon {
            &.people {

            }
            &.car {

            }
          }
        }
      }
      .route__types {
        .item {

        }
      }

    }
  }


}