@full_width: 100%;
@width_column: @full_width / 12;
@width_column2: @full_width / 10;
@padding: 15*@rem;
@pathImages: "../images/";
@rem: 1rem / 16;

@extra_mobile_width: 500px;
@mobile_width: 767px;
@tablet_min_width: 766px;
@tablet_max_width: 1280px;
@desktop_width: 1279px;
@extra_desktop_width: 1920px;
