.objects {
  .label {
    display: block;
    font-weight: 500;
    margin-bottom: 15px;
  }
  &__add-form {
    .form__field {
      margin-bottom: 20px;
    }
  }
}

.object-list {
  .label {
    display: block;
    font-weight: 500;
    margin-bottom: 15px;
  }
}