@import "../../styles/mixins";

.objects {
  .label {
    display: block;
    font-weight: 500;
    margin-bottom: 15px;
  }
  &__add-form {
    .form__field {
      margin-bottom: 20px;
    }
  }
}

.object-list {
  margin-bottom: 20px;
  .label {
    font-size: 14px;
    line-height: 16px;
    color: @blackText;
    display: block;
    font-weight: 500;
    margin-bottom: 15px;
  }
  li {
    position: relative;
    font-size: 12px;
    line-height: 14px;
    color: @blackText;
    margin-bottom: 20px;
  }
  .icon-delete {
    position: absolute;
    top: -15px;
    right: 0;
    width: 30px;
    height: 39px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/src/assets/images/icons/delete-gray.svg");
    cursor: pointer;
  }
}